node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

app.json
eas.json
.env
*.log
.vscode/
config
version
google-services.json
semi-calories-5f4e539eaaf1.json

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*
